/core/target/
/connectors/sap-rfc/target/
/connectors/salesforce/target/
/e2e/node_modules/
/e2e/out/
.env
*.log
.DS_Store
e2e/film-out/
/connectors/mq/target/
/connectors/amqp/target/
docs/book/book/
